<a href="https://colab.research.google.com/github/sesha-master/test-git/blob/master/module_1/project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [51]:
#data = pd.read_csv('movie_bd_v5.csv')
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/files/movie_bd_v5.csv')
data.sample(5)

        imdb_id     budget    revenue  ... release_date vote_average release_year
1120  tt0314353   70000000   85632458  ...     3/7/2003          6.4         2003
585   tt0244000   35000000   13678913  ...    8/17/2001          5.8         2001
730   tt1229238  145000000  694713380  ...    12/7/2011          6.7         2011
217   tt2980592    5000000    2367161  ...    9/17/2014          6.6         2014
1768  tt0452702   19000000   35300645  ...    4/20/2007          5.9         2007

[5 rows x 14 columns]

In [ ]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
#создаем колонку profit = revenue - budget
data['profit'] = data['revenue'] - data['budget']

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [ ]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [ ]:
# тут пишем ваш код для решения данного вопроса:
answers['1'] = data.sort_values(['budget'],ascending=False).head(1).original_title #+

ВАРИАНТ 2

In [ ]:
# можно добавлять разные варианты решения
answers['1'] = data[data.budget==data.budget.max()].original_title #+

# 2. Какой из фильмов самый длительный (в минутах)?

In [ ]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [ ]:
answers['2'] = data.sort_values(['runtime'],ascending=False).head(1).original_title #+

# 3. Какой из фильмов самый короткий (в минутах)?

In [ ]:
answers['3'] = data.sort_values(['runtime'],ascending=True).head(1).original_title #+

# 4. Какова средняя длительность фильмов?

In [ ]:
answers['4'] = data['runtime'].mean() #+

# 5. Каково медианное значение длительности фильмов?

In [ ]:
answers['5'] = data['runtime'].median() #+

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [ ]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = data[data.profit==data.profit.max()].original_title #+

# 7. Какой фильм самый убыточный?

In [ ]:
answers['7'] = data[data.profit==data.profit.min()].original_title #+

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [ ]:
answers['8'] = data[data.revenue>data.budget].imdb_id.count() #+

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [ ]:
tmp_data = data[(data.release_year==2008)]
answers['9'] = tmp_data[(tmp_data.revenue==tmp_data.revenue.max())].original_title #+

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [ ]:
tmp_data = data[(data.release_year>=2012)&(data.release_year<=2014)]
answers['10'] = tmp_data[(tmp_data.profit==tmp_data.profit.min())].original_title #+

# 11. Какого жанра фильмов больше всего?

In [52]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

#сохраняем первоначальную выборку
data_old = data
#преобразовываем столбец в формат даты для заданий 2Х
data_old['release_date'] = pd.to_datetime(data_old['release_date'], format="%m/%d/%Y")
#создаем отдельный столбец с месяцем
data_old['month'] = data_old['release_date'].dt.month

#во всех столбцах, содержащих несколько записей, разделяем значения и далее создаем отдельные строки для каждого из значений
data['new_genres'] = data.genres.str.split("|")
data = data.explode('new_genres')
data['new_director'] = data.director.str.split("|")
data = data.explode('new_director')
data['new_cast'] = data.cast.str.split("|")
data = data.explode('new_cast')
data['new_production_companies'] = data.production_companies.str.split("|")
data = data.explode('new_production_companies')

answers['11'] = data.groupby('new_genres', sort=False).imdb_id.nunique().sort_values(ascending=False).index[0]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [ ]:
data_tmp = data[data.profit>0]
answers['12'] = data_tmp.groupby('new_genres', sort=False).imdb_id.nunique().sort_values(ascending=False).index[0]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [ ]:
data_tmp = data.groupby(['new_director','revenue']).agg({'revenue':'sum', 'imdb_id':'count'})
data_tmp['rev'] = data_tmp['revenue']/data_tmp['imdb_id']
answers['13'] = data_tmp.groupby(['new_director']).rev.sum().sort_values(ascending=False).index[0]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [ ]:
data_tmp = data[data.new_genres=='Action']
answers['14'] = data_tmp['new_director'].value_counts().index[0]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [ ]:
data_tmp = data[data.release_year==2012].groupby(['new_cast','revenue']).agg({'revenue':'sum', 'imdb_id':'count'})
data_tmp['rev'] = data_tmp['revenue']/data_tmp['imdb_id']
answers['15'] = data_tmp.groupby(['new_cast']).rev.sum().sort_values(ascending=False).index[0]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [ ]:
#находим средний бюджет
budgetAvg = data_old['budget'].mean()

answers['16']  = data[data.budget>budgetAvg].groupby(['new_cast']).agg({'imdb_id':'nunique'}).sort_values(by='imdb_id',ascending=False).index[0]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [ ]:
answers['17'] = data[data.new_cast=='Nicolas Cage'].groupby(['new_genres']).count().sort_values(by='imdb_id',ascending=False).index[0]

# 18. Самый убыточный фильм от Paramount Pictures

In [ ]:
answers['18'] = data[data.new_production_companies=='Paramount Pictures'].sort_values(by='profit',ascending=True).original_title.head(1)

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [ ]:
answers['19']  = data_old.groupby(['release_year']).agg({'revenue':'sum'}).sort_values(by='revenue',ascending=False).index[0]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [ ]:
answers['20'] = data_old[data_old.production_companies.str.contains('Warner Bros')].groupby(['release_year']).agg({'profit':'sum'}).sort_values(by='profit',ascending=False).index[0]

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [ ]:
answers['21'] = data_old.groupby(['month']).imdb_id.count().sort_values(ascending=False).index[0]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [ ]:
answers['22'] = data_old[(data_old.month>=6)&(data_old.month<=8)].imdb_id.count()

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object, '10': 1245    The Lone Ranger
 Name: original_title, dtype: object, '11': 'Drama', '12': 'Drama', '13': 'Peter Jackson', '14': 'Paul W.S. Anderson', '15': 'Chris Hemsworth', '16': 'Matt Damon', '17': 'Action', '18': 925    K-19: The Widowmaker
 Name: original_title, dtype: object, '19': 2015, '2': 1157    Gods and Generals
 Name: original_title, dtype: object, '20': 2014, '21': 9, '22': 450, '3': 768    Winnie the Pooh
 Name: original_title, dtype: object, '4': 109.6585494970884, '5': 107.0, '6': 239    Avatar
 Name: original_title, dtype: object, '7': 1245    The Lone Ranger
 Name: original_title, dtype: object, '8': 1478, '9': 599    The Dark Knight
 Name: original_title, dtype: object}

# 23. Для какого режиссера зима – самое продуктивное время года?

In [40]:
answers['23'] = data[(data.month==12)|(data.month<=2)].groupby(['director']).agg({'imdb_id':'nunique'}).sort_values(by='imdb_id',ascending=False).index[0]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [41]:
data['title_len'] = data['original_title'].apply(lambda x: len(x))
answers['24'] = data[data.title_len == data.title_len.max()].production_companies.head(1)

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [25]:
data25 = data_old
data25['new_production_companies'] = data25.production_companies.str.split("|")
data25 = data25.explode('new_production_companies')

data25['words_num'] = data25['overview'].apply(lambda x: len(x.split(' ')))
answers['25']  = data25.groupby(['new_production_companies']).words_num.mean().sort_values(ascending=False).index[0]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [39]:
data26 = data_old
res  = data_old.sort_values(['vote_average'],ascending=False).head(round(len(data_old)*0.01)).original_title
res

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
863             The Lord of the Rings: The Two Towers
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [64]:
import collections
from itertools import combinations
from collections import Counter

data27 = data_old
data27['new_cast'] = data27.cast.str.split("|")
#создаем в столбце список с комбинациями актеров по 2 в 1 комбинации
data27['pairs'] = data27['new_cast'].apply(lambda s: list(combinations(s, 2)))
data27 = data27.explode('pairs')

answers['27'] = data27.groupby(['pairs']).pairs.count().sort_values(ascending=False).head(2)
answers['27']

pairs
(Daniel Radcliffe, Emma Watson)     8
(Daniel Radcliffe, Rupert Grint)    8
Name: pairs, dtype: int64

ВАРИАНТ 2

# Submission

In [42]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'11': 'Drama',
 '23': 'Peter Jackson',
 '24': 1448    Twentieth Century Fox Film Corporation|Four By...
 Name: production_companies, dtype: object,
 '25': 'Midnight Picture Show'}

In [ ]:
# и убедиться что ни чего не пропустил)
len(answers)

24