<a href="https://colab.research.google.com/github/sesha-master/test-git/blob/master/module_1/project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [66]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [67]:
#data = pd.read_csv('movie_bd_v5.csv')
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/files/movie_bd_v5.csv')
data.sample(5)

        imdb_id     budget    revenue  ... release_date vote_average release_year
189   tt2096672   40000000  169837010  ...   11/12/2014          5.5         2014
1785  tt0368794   20000000    4001121  ...    10/1/2007          6.5         2007
1812  tt0187393  110000000  215294342  ...    6/28/2000          6.7         2000
1830  tt0144084    7000000   34266564  ...    4/13/2000          7.1         2000
1215  tt1691917   50000000  219788712  ...     8/9/2013          5.7         2013

[5 rows x 14 columns]

In [ ]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [68]:
answers = {} # создадим словарь для ответов

#предобработки:
#создаем колонку profit = revenue - budget
data['profit'] = data['revenue'] - data['budget']

#сохраняем первоначальный датасет
data_old = data
#преобразовываем столбец в формат даты для заданий 2Х
data_old['release_date'] = pd.to_datetime(data_old['release_date'], format="%m/%d/%Y")
#создаем отдельный столбец с месяцем
data_old['month'] = data_old['release_date'].dt.month

#во всех столбцах, содержащих несколько записей, разделяем значения и далее создаем отдельные строки для каждого из значений
data['new_genres'] = data.genres.str.split("|")
data = data.explode('new_genres')
data['new_director'] = data.director.str.split("|")
data = data.explode('new_director')
data['new_cast'] = data.cast.str.split("|")
data = data.explode('new_cast')
data['new_production_companies'] = data.production_companies.str.split("|")
data = data.explode('new_production_companies')

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [ ]:
# в словарь вставляем номер вопроса и ваш ответ на него
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
answers['2'] = '2. Gods and Generals (tt0279111)'
answers['3'] = '3. Winnie the Pooh (tt1449283)'
answers['4'] = '2. 110'
answers['5'] = '1. 107'
answers['6'] = '5. Avatar (tt0499549)'
answers['7'] = '5. The Lone Ranger (tt1210819)'
answers['8'] = '1. 1478'
answers['9'] = '4. The Dark Knight (tt0468569)'
answers['10'] = '5. The Lone Ranger (tt1210819)'
answers['11'] = '3. Drama'
answers['12'] = '1. Drama'
answers['13'] = '5. Peter Jackson'
answers['14'] = '3. Robert Rodriguez'
answers['15'] = '3. Chris Hemsworth'
answers['16'] = '3. Matt Damon'
answers['17'] = '2. Action'
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
answers['19'] = '5. 2015'
answers['20'] = '1. 2014'
answers['21'] = '4. Сентябрь'
answers['22'] = '2. 450'
answers['23'] = '5. Peter Jackson'
answers['24'] = '5. Four By Two Productions'
answers['25'] = '3. Midnight Picture Show'
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [69]:
# тут пишем ваш код для решения данного вопроса:
answers['1'] = data_old.sort_values(['budget'],ascending=False).head(1).original_title #+

ВАРИАНТ 2

In [71]:
# можно добавлять разные варианты решения
answers['1'] = data_old[data_old.budget==data_old.budget.max()].original_title #+

# 2. Какой из фильмов самый длительный (в минутах)?

In [99]:
answers['2'] = data_old.sort_values(['runtime'],ascending=False).head(1).original_title #+

# 3. Какой из фильмов самый короткий (в минутах)?

In [72]:
answers['3'] = data_old.sort_values(['runtime'],ascending=True).head(1).original_title #+

# 4. Какова средняя длительность фильмов?

In [73]:
answers['4'] = data_old['runtime'].mean() #+

# 5. Каково медианное значение длительности фильмов?

In [74]:
answers['5'] = data_old['runtime'].median() #+

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [75]:
answers['6'] = data_old[data_old.profit==data_old.profit.max()].original_title #+

# 7. Какой фильм самый убыточный?

In [76]:
answers['7'] = data_old[data_old.profit==data_old.profit.min()].original_title #+

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [77]:
answers['8'] = data_old[data_old.revenue>data_old.budget].imdb_id.count() #+

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [78]:
tmp_data = data_old[(data_old.release_year==2008)]
answers['9'] = tmp_data[(tmp_data.revenue==tmp_data.revenue.max())].original_title #+

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [79]:
tmp_data = data_old[(data_old.release_year>=2012)&(data_old.release_year<=2014)]
answers['10'] = tmp_data[(tmp_data.profit==tmp_data.profit.min())].original_title #+

# 11. Какого жанра фильмов больше всего?

In [80]:
answers['11'] = data.groupby('new_genres', sort=False).imdb_id.nunique().sort_values(ascending=False).index[0]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [81]:
data_tmp = data[data.profit>0]
answers['12'] = data_tmp.groupby('new_genres', sort=False).imdb_id.nunique().sort_values(ascending=False).index[0]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [82]:
data_tmp = data.groupby(['new_director','revenue']).agg({'revenue':'sum', 'imdb_id':'count'})
data_tmp['rev'] = data_tmp['revenue']/data_tmp['imdb_id']
answers['13'] = data_tmp.groupby(['new_director']).rev.sum().sort_values(ascending=False).index[0]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [83]:
data_tmp = data[data.new_genres=='Action']
answers['14'] = data_tmp['new_director'].value_counts().index[0]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [84]:
data_tmp = data[data.release_year==2012].groupby(['new_cast','revenue']).agg({'revenue':'sum', 'imdb_id':'count'})
data_tmp['rev'] = data_tmp['revenue']/data_tmp['imdb_id']
answers['15'] = data_tmp.groupby(['new_cast']).rev.sum().sort_values(ascending=False).index[0]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [85]:
#находим средний бюджет
budgetAvg = data_old['budget'].mean()

answers['16']  = data[data.budget>budgetAvg].groupby(['new_cast']).agg({'imdb_id':'nunique'}).sort_values(by='imdb_id',ascending=False).index[0]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [86]:
answers['17'] = data[data.new_cast=='Nicolas Cage'].groupby(['new_genres']).count().sort_values(by='imdb_id',ascending=False).index[0]

# 18. Самый убыточный фильм от Paramount Pictures

In [87]:
answers['18'] = data[data.new_production_companies=='Paramount Pictures'].sort_values(by='profit',ascending=True).original_title.head(1)

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [88]:
answers['19']  = data_old.groupby(['release_year']).agg({'revenue':'sum'}).sort_values(by='revenue',ascending=False).index[0]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [89]:
answers['20'] = data_old[data_old.production_companies.str.contains('Warner Bros')].groupby(['release_year']).agg({'profit':'sum'}).sort_values(by='profit',ascending=False).index[0]

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [90]:
answers['21'] = data_old.groupby(['month']).imdb_id.count().sort_values(ascending=False).index[0]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [91]:
answers['22'] = data_old[(data_old.month>=6)&(data_old.month<=8)].imdb_id.count()

# 23. Для какого режиссера зима – самое продуктивное время года?

In [92]:
answers['23'] = data[(data.month==12)|(data.month<=2)].groupby(['director']).agg({'imdb_id':'nunique'}).sort_values(by='imdb_id',ascending=False).index[0]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [93]:
data['title_len'] = data['original_title'].apply(lambda x: len(x))
answers['24'] = data[data.title_len == data.title_len.max()].production_companies.head(1)

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [94]:
data25 = data_old
data25['new_production_companies'] = data25.production_companies.str.split("|")
data25 = data25.explode('new_production_companies')

data25['words_num'] = data25['overview'].apply(lambda x: len(x.split(' ')))
answers['25']  = data25.groupby(['new_production_companies']).words_num.mean().sort_values(ascending=False).index[0]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [95]:
data26 = data_old
answers['26']  = data_old.sort_values(['vote_average'],ascending=False).head(round(len(data_old)*0.01)).original_title

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [96]:
from itertools import combinations

data27 = data_old
data27['new_cast'] = data27.cast.str.split("|")
#создаем в столбце список с комбинациями актеров по 2 в 1 комбинации
data27['pairs'] = data27['new_cast'].apply(lambda s: list(combinations(s, 2)))
data27 = data27.explode('pairs')

answers['27'] = data27.groupby(['pairs']).pairs.count().sort_values(ascending=False).head(2) #+

ВАРИАНТ 2

# Submission

In [102]:
# в словарь вставляем номер вопроса и ваш ответ на него
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
answers['2'] = '2. Gods and Generals (tt0279111)'
answers['3'] = '3. Winnie the Pooh (tt1449283)'
answers['4'] = '2. 110'
answers['5'] = '1. 107'
answers['6'] = '5. Avatar (tt0499549)'
answers['7'] = '5. The Lone Ranger (tt1210819)'
answers['8'] = '1. 1478'
answers['9'] = '4. The Dark Knight (tt0468569)'
answers['10'] = '5. The Lone Ranger (tt1210819)'
answers['11'] = '3. Drama'
answers['12'] = '1. Drama'
answers['13'] = '5. Peter Jackson'
answers['14'] = '3. Robert Rodriguez'
answers['15'] = '3. Chris Hemsworth'
answers['16'] = '3. Matt Damon'
answers['17'] = '2. Action'
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
answers['19'] = '5. 2015'
answers['20'] = '1. 2014'
answers['21'] = '4. Сентябрь'
answers['22'] = '2. 450'
answers['23'] = '5. Peter Jackson'
answers['24'] = '5. Four By Two Productions'
answers['25'] = '3. Midnight Picture Show'
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [103]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '2': '2. Gods and Generals (tt0279111)',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)'}

In [104]:
# и убедиться что ни чего не пропустил)
len(answers)

27